* {
    box-sizing: border-box;
    margin: 0;
}
body {
    background-color: lightblue;
}
.flex-container {
    display: flex;
    flex-wrap: wrap;
    padding-left: 200px;
    padding-right: 200px;
}
.profile-photo {
    width: 60%;
    align-content: center;
    justify-content: center;
    padding: 30px 20px 70px 20px;
    margin: 20px 0px 0px 0px;
    background-color: rgb(80, 104, 170);
}
.personal-information {
    width: 40%;
    padding: 30px 20px 70px 20px;
    margin: 43px;
    background-color: rgb(80, 104, 170);
}
.change-password {
    width: 40%;
    padding: 30px 20px 70px 20px;
    margin: 43px;
    background-color: rgb(80, 104, 170);
}
.status {
    width: 40%;
    margin: 20px 0px 0px 0px;
    border-left: none;
    background-color: rgb(80, 104, 170);
}
.status button {
    float: right;
    margin: 30px ;
}
.overlap {
    display: inline-block;
}
input {
    display: block;
}
h1 {
    border-bottom: thin solid darkblue;
}
h3 {
    border-bottom: thin solid darkblue;
    margin: 30px;
}
img {
    margin: 20px 50px;
    border: 2px solid black;
}
p {
    margin: 30px;
}
.profile-photo span {
    margin: 80px;
}
.navbar {
    height: 100%;
    width: 6%;
    position: fixed;
    z-index: 1;
    background-color:rgb(30, 53, 116);
    top: 0;
    left: 0;
    /* overflow-x: hidden; */
}
.navbar a {
    text-decoration: none;
    display: block;
    padding: 5px 5px;
    text-align: center;
}
.navbar img{
    margin: 0em;
    border-radius: 50%;
}
.friend-list {
    height: 100%;
    width: 20%;
    position: fixed;
    background-color:rgb(80, 104, 170);
    top: 0;
    left: 0;
    /* overflow-x: hidden; */
    padding-top: 20px;
}
.friend-list h1 {
    margin-left: 90px;
}
.friend-list li p {
    display: inline-block;
    font-size: 20px;
    align-content: center;
    justify-content: center;
    padding-bottom: 10px;
    margin: auto;
}
ul {
    list-style-type: none;
}
.friend-list img {
    margin: auto;
    margin: 5px 0px 0px 60px;
}
li {
    height: 10%;
}
.friend-list li:hover {
    background-color: rgba(30, 53, 116);
    color: white;
}
.chatt {
    background-color: white;
    left: 0;
    height: 100%;
    width: 100%;
    border: 1px solid red;
    overflow: hidden;
}
